@media print, (max-width: 767px) {

    :root {
        --font_size_title: 24px;
        --font_size: 15px;
    }
    .block {
        padding: 30px 0;
    }
    .services_items > * {
        width: calc(100%/2 - 20px);
    }
    .steps_items {
        justify-content: center;
        margin-left: -30px;
        margin-bottom: -20px;
    }
    .steps_items > * {
        width: calc(100%/2 - 30px);
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .request .line:first-child {
        margin-left: 0px;
        flex-wrap: wrap;
    }
    .request .line:first-child > * {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .request .line {
        margin-bottom: 0px;
    }
    .request .callback_btn {
        margin: 15px auto 0;
    }
    .footer_left {
        flex-direction: column;
    }
    .footer_logo {
        margin-right: 0px;
        margin-bottom: 15px;
    }
    footer {
        padding: 40px 0 40px;
    }
    .steps_item:before {
        font-size: 65px;
    }
    .steps_item {
        padding-top: 78px;
    }
    .production_item {
        flex-direction: column;
        align-items: flex-start;
    }
    .production_item:nth-child(2) {
        flex-direction: column-reverse;
    }
    .production_item:nth-child(2) .production_item-img {
        margin-right: auto;
    }
    .production_item-img {
        width: 400px;
        height: 218px;
        margin: 20px auto 0;
    }
    .title {
        margin-bottom: 20px;
    }
    .header-top {
        flex-direction: column;
        align-items: flex-start;        
    }
    .header_left {
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
    }
    .header-contact {
        justify-content: space-between;
        margin-top: 0;
        width: 100%;
    }
    .header-contact .phone a {
        margin-top: 0;
    }
    .header-top {
        padding-bottom: 15px;
        margin-bottom: 40px;
    }
    .header-info_title {
        font-size: 28px;
        margin-bottom: 16px;
    }
    .header-info_text {
        font-size: 18px;
        margin-bottom: 21px;
    }
    .header-info .callback_btn {
        width: 230px;
        height: 55px;
    } 
    .services_item:last-child {
        padding: 20px;
    }
    .services_item-title br {
        display: none;
    }
    .services_item-text {
        margin-top: 6px;
        margin-bottom: 15px;
    }
    .advantages_item-icon {
        width: 70px;
        height: 70px;
        margin-bottom: 20px;
    }
    .advantages_item-icon::before {
        width: 84px;
        height: 84px;
    }
    .advantages_item-icon img {
        width: 40px;
        height: 40px;
    }
    .advantages_item-title {
        font-size: 19px;
        margin-bottom: 5px;
    }
    .advantages_item-text {
        font-size: 15px;
    }
    .request_title {
        margin-bottom: 10px;
    }



    
    



 


}